

.our_services_styles{

}

.our_services_container{
    padding: 20px 50px;
    background-color: #ffff;
}

.our_services_inner_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b8e7df;
    padding: 30px;
    box-shadow: 2px 2px 5px grey;
}

.our_service_content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.253);
    padding: 20px;
}

.our_service_content:last-child{
    border-right: none;
}



.service_icons{
    font-size: 40px;
    border: 1px solid rgba(128, 128, 128, 0.212);
    display: flex;
    padding: 4px;
    border-radius: 2px;
    color: rgb(19, 112, 119);
}

.service_content h3{}
.service_content p{}