


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Rajdhani:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-font: "Rajdhani", sans-serif;
    --main-color: rgba(0, 0, 0, 0.863);
    --logo-color1: rgb(36, 117, 54);
    --logo-color2: rgb(61, 68, 51);
    --account-color: rgb(14, 172, 159);
    --nav-background-color:rgba(177, 194, 194, 0.342);
}



.Navigation_Styles{
  position: relative;
}

.navBar{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  background-color: var(--nav-background-color);
  color: var(--main-color);
  box-shadow: 3px 3px 10px rgb(177, 209, 218);
  z-index: 1;
}



/*Menu css start*/

.menu{
position: relative;
display: flex;
gap: 30px;
}
.menu a{
position: relative;
text-decoration: none;
color: rgba(3, 18, 22, 0.979);
font-size: 18px;
font-family: "Rajdhani", sans-serif;
font-weight: bold;
transition: .5s;
}

.menu a::before{
content: "";
position: absolute;
bottom: -3px;
right: 0px;
width: 0%;
height: 2px;
background-color: rgba(29, 49, 42, 0.432);
transition: all .5s ease;
}

.menu a:hover::before{
 width: 100%;
}
/* 
.menu a:nth-child(5){
margin-left: 100px;
color: var(--account-color);
}

.menu a:nth-child(6){
color: var(--account-color);
} */

.menu a:active{
 color: green;
}

.menu a:hover{
 color: green;
}

/*Menu css end*/


/*navBtn css start*/

.navBtn{
display: none;
border: none;
outline: none;
font-size: 20px;
color: var(--account-color);

}

/*navBtn css end*/

/*Responsive css start*/

@media only screen and (max-width: 1024px){

.Navigation_Styles{
  padding: 0px 10px;
}

.menu {
  position: fixed;
    top: 65px;
    right: 0;
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 1s;
    transform: translateX(100%);
    margin-top: 67px;
    background-color: rgba(243, 243, 243, 0.555);
    z-index: 1;
}

.menu a:nth-child(5){
  margin-left: 0px;
  }

.responsive_nav{
  transform: none;
}

.navBtn{
  display: inline-block;
}
}

/*Responsive css end*/
