

:root{
    --main-color: rgb(128, 181, 24);
    --Icon-background-color: #ffff;
}

.searchAndCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    font-size: 22px;
    background-color: var(--Icon-background-color);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchIcon{
    color: var(--main-color) ;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-radius: 5px 0px;
    padding: 3px;
    
}

.search input[type="search"]{
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    padding: 4px;
    color: rgba(0, 0, 0, 0.548);
    max-width: 500px;
}

.cartAndAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.account{
    font-size: 30px;
    width: 48px;
}

.addToCart, .account{
    position: relative;
    color: var(--main-color) ;
    background-color: rgb(238, 240, 229);
    padding: 5px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.addToCart:hover, .account:hover{
    background-color: var(--main-color);
    color: white;
}

.addToCart p b{
    color: rgba(19, 20, 20, 0.87);
    font-size: 20px;
}



@media  only screen and (max-width: 1024px) {
    .searchAndCart{
        padding: 15px 10px;
    }
}